params {
  project_home = '/home/sturm/scratch/tcr'
  data_dir = '/data/projects/2019/singleCellSeq/vanderBurg_Oropharyngeal_Cancer/Code'
  tcr_samples = '/home/sturm/scratch/tcr/samples.tsv'
  cell_type_annotation = '/home/sturm/scratch/tcr/celltypes.tsv'
  genelist = '/home/sturm/scratch/tcr/genelist.txt'

  config {
    report_template = './bin/scTCRpy/report_template.html'
  }
}

/* process { */
/*   executor = 'sge' */
/*   penv = 'smp' */
/*   clusterOptions = { '-V -S /bin/bash ' } */
/* } */
