params {
  contigFiles = null
  consensusFiles = null
  barcodePrefixes = null

  outDir = "results"
  includeCDRdistances = true
  distanceDisambiguation = 'minimum'
  nCpus = 4
}

resume = true

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/nf_report.html"

profiles {
  standard {
    process {
      executor = 'sge'
      penv = 'smp'
      clusterOptions = { "-V -S /bin/bash" }
    }
  }

  local {
    executor {
      cpus = 32
    }
  }

  example {
    params {
      contigFiles =  './test_data/s{1,2}/filtered_contig_annotations.csv'
      consensusFiles = './test_data/s{1,2}/consensus_annotations.json'
      barcodePrefixes =  ['Sample_1_', 'Sample_2_']
      outDir = "results/example"
    }
  }
}
