[build-system]
requires = [
    'flit_core >=2,<4',
    'setuptools_scm',
    'pytoml',
    'wheel',
    'importlib_metadata>=0.7; python_version < "3.8"'
]
build-backend = 'flit_core.buildapi'

[tool.flit.metadata]
module = 'scirpy'
author = 'Gregor Sturm, Tamas Szabo'
author-email = 'gregor.sturm@i-med.ac.at'
home-page = 'https://github.com/grst/scirpy'
description-file = "README.rst"
classifiers = [
    'License :: OSI Approved :: BSD License',
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'Programming Language :: Python :: 3',
    'Programming Language :: R'
]
requires-python = '>= 3.7'
requires = [
    'anndata>=0.7.6',
    'scanpy>=1.6.0',
    'pandas>=1.0',
    'numpy>=1.17.0',
    'scipy',
    # parasail 1.2.1 fails to be installd on MacOS
    'parasail != 1.2.1',
    'scikit-learn',
    'python-levenshtein',
    'python-igraph',
    'networkx',
    'squarify',
    'airr>=1.2',
    'tqdm>=4.42.0', # required for process_map
    # for getting the version
    'setuptools_scm',
    'pytoml',
    'importlib_metadata>=0.7; python_version < "3.8"',
    'pycairo>=1.20; sys_platform == "win32"',
]

[tool.flit.metadata.requires-extra]
rpack = [
    'rectangle-packer',
]
test = [
    'pytest',
    'black'
]
dandelion = [
    'sc-dandelion',
    'adjusttext', # see https://github.com/zktuong/dandelion/issues/55
]
doc = [
    'sphinx>=3.0.1,<3.1',
    'sphinx_autodoc_typehints>=1.8.0',
    'scanpydoc>=0.6',
    'sphinx_rtd_theme>=0.4,<0.5',
    'typing_extensions; python_version < "3.8"',  # for `Literal`
    # for tutorial
    'leidenalg',
    'nbsphinx>=0.6.0',
    'jupytext',
    'sphinxcontrib-bibtex>=1.0.0',
    'pycairo',
    'jupyter_client',
    'ipykernel',
    'sc-dandelion',
    'adjusttext', # see https://github.com/zktuong/dandelion/issues/55
]

[tool.flit.metadata.urls]
Documentation = 'https://icbi-lab.github.io/scirpy/'

[tool.pytest.ini_options]
markers = [
    "conda: marks a subset of tests to be ran on the Bioconda CI.",
    "extra: marks tests that require extra dependencies."
]
minversion = 6.0
testpaths = 'scirpy/tests'
norecursedirs = [ '.*', 'build', 'dist', '*.egg', 'data', '__pycache__']

[tool.setuptools_scm]
git_describe_command = "git describe --dirty --tags --long --match v*.*.*"
