/* Reduce the font size in data frames - See https://github.com/scverse/cookiecutter-scverse/issues/193 */
div.cell_output table.dataframe {
    font-size: 0.8em;
}

table.distance-example {
    font-size: 0.9em;
}

table.distance-example th,
table.distance-example td {
    padding: 0.25rem 0.4rem;
}
