get_version
scanpy
pandas
numpy
scipy
parasail
sphinx>=2,<=3
sphinx_autodoc_typehints>=1.8.0
sphinx_rtd_theme>=0.4
scanpydoc
jupytext
nbsphinx
sphinxcontrib-bibtex
python-levenshtein
python-igraph
pycairo
jupyter_client
ipykernel
networkx
rectangle-packer
