name: conda

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
        os: ["ubuntu-latest", "macos-latest"]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # required for setuptools-scm

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          channels: conda-forge,bioconda
          channel-priority: strict 
          python-version: ${{ matrix.python-version }}

      - name: install conda build
        run: |
          mamba install -y conda-build conda-verify
        shell: bash

      - name: build and test package
        run: |
          cd .conda
          mamba build --no-anaconda-upload .
        shell: bash
