name: Test tutorials

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -e {0} # -e to fail on error

    strategy:
      fail-fast: false
      matrix:
        tutorial:
          - tutorial_3k_tcr.ipynb
          - tutorial_io.ipynb
          - tutorial_5k_bcr.ipynb
        os:
          - ubuntu-latest
        python:
          - "3.13"

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
          cache-dependency-path: "**/pyproject.toml"

      - name: Install system dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libcairo2-dev pkg-config
      - name: Install dependencies
        run: |
          pip install ".[doc]"
      - name: Test
        env:
          MPLBACKEND: agg
          PLATFORM: ${{ matrix.os }}
          DISPLAY: :42
        run: |
          jupytext -k python3 --execute docs/tutorials/${{ matrix.tutorial }}
