name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule: 
    - cron: '0 5 * * 0'

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { python-version: 3.7, os: ubuntu-latest }
          - { python-version: 3.8, os: ubuntu-latest }
          - { python-version: 3.9, os: ubuntu-latest }
          - { python-version: "3.10", os: ubuntu-latest }
#           - { python-version: 3.9, os: macos-latest }
          - { python-version: 3.9, os: windows-latest }

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # required for setuptools-scm
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      # The HDF5 system requirements are necessary until pytables provides a wheel for python 3.9
      - name: Install Ubuntu system dependencies
        if: matrix.config.os == 'ubuntu-latest'
        run: |
          sudo apt-get install libhdf5-serial-dev
      - name: Install macOS system dependencies
        if: matrix.config.os == 'macos-latest'
        run: |
          brew install cairo pkg-config autoconf automake libtool
      - name: Set up Python ${{ matrix.config.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.config.python-version }}
      - name: Install dependencies
        run: |
          # https://github.com/pypa/pip/issues/11110
          python -m pip install --upgrade "pip!=22.1"
          # TODO this is to workaround an issue with the skbio dependency
          # This will work in the next release, see https://github.com/biocore/scikit-bio/pull/1813
          pip install git+https://github.com/grst/scikit-bio.git@main
          pip install .[test,rpack,dandelion]
      - name: Check black formatting
        run: |
          black --check .
      - name: Test with pytest
        run: |
          pytest
